:root{
    --background-color: black;
    --font-color: white;
    --font-size:  20px; 
    --border-size: 1px;
}


*{
    margin: 0;
    height: auto;
    background-color: var(--background-color);
    font-family: 'Cinzel Decorative', cursive;
}

.NavBarContainer{

    margin-top: 1.5em;
    display: flex;
    justify-content: start;
    margin-right: 2em;
    
}


.NavBarButtonContainer{
    list-style: none;
    display: flex;
    gap: 1em;
}
li{
    position: relative;
    height: 25px;
   
}
.link{
    color: white;
    text-decoration: none;
    font-size: var(--font-size);
}

.link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid white;
    width: 0;
    z-index: -1;

    transition: width 500ms ease-out, z-index;


}

.link:hover::before{
   width: 100%;
   z-index: 0;
}

.titlePage{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    color: var(--font-color);
    font-size: 6em;

}

.titlePage > img{
    width:60vw;
    height: 85vh;
    border-radius: 1em;
    margin-right: 2em;
}
.aboutContainer{
    display: grid;


}
.aboutTitle{
    color: var(--font-color);
    text-align: center;
    margin-top: 1.5em;
    padding-top: .5em;
    text-decoration: underline;
    border-top: 1px solid white;
}

.aboutBodyContainer{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5em;
}

.aboutBody{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin-top: 1em;
    color: var(--font-color);
    width: 30vw;
    font-size: calc(var(--font-size)*1.5);
    margin-right: 4em;
}

.bodyImgContainer{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.photo-1{
    
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: end;
}
.photo-2{
    grid-row: 2/4;
    grid-column: 1/3;
    justify-self: center;
}
.photo-3{
    grid-row: 3/4;
    grid-column: 1/3;
    justify-self: end;
}
.photo-4{
    grid-row: 4/5;
    grid-column: 1/3;
    justify-self: center;
}


.bodyImgContainer > div > img{
    width: 18vw;
    height: 20vh;
}

.musicContainer{
    margin-top: 3em;

    border-top: 1px white solid;
}

.musicTitle{
    margin-left: 3em;
    color: var(--font-color);
    margin-top: .5em;
    text-decoration: underline;
}

.musicBodyContainer{
    margin-left: 3em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spotifyContainer{
    grid-column: 1/2;
    justify-self: center;
    width: 30vw;
    height: 80vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

.youtubeContainer{
    grid-column: 2/3;
    justify-content: center;
    width: 30vw;
    height: 80vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

.linkContainer{
    position: relative;
    width: 25%;
    height: 4%;
    display: flex;

}

.Footer{
    margin-top: 3em;
    border-top: 1px solid white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    
}

.footerTitle{
    color: white;
}
.contactLinks{
    display: flex;
    gap: 1em;
}
.contactLinks > a > img{
    width: 2em;
}